html { 
    height: 100%;
}

* { 
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Pontano Sans', sans-serif;
    font-size: 80%;
    background: #5D5F71;
    color: #5D5D5D;
}

p { 
    padding: 0 0 15px 0;
    line-height: 1.7em;
}

img { 
    border: 0;
    max-width: 100%;
    height: auto;
}

img.icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 100%;
    background: #fff;
    border: 4px solid #c1c1c1;
    position: relative;
    top: 30px;
    left: 10px;
}

h1, h2, h3, h4, h5 { 
    font-family: 'Nanum Pen Script', cursive;
    color: #BF8B85;
    margin: 0 0 14px 0;
    padding: 10px 0 5px 0;
}

h1 {
    font-size: 250%;
}

h2 {
    font-family: 'Pontano Sans', sans-serif;
    color: #AD8A64;
    margin: 0 0 0px 0;
    padding: 0px 0 0px 0;
}

h3 { 
    font-family: 'Pontano Sans', sans-serif;
}

h4, h5 { 
    margin: 0;
    padding: 0 0 5px 0;
    font-size: normal 120%;
    font-family: 'Pontano Sans', sans-serif;
    color: #AD8A64;
}

a, a:hover { 
    outline: none;
    text-decoration: underline;
    color: #5D5F71;
}

a:hover { 
    text-decoration: none;
}

.left { 
    float: left;
    width: auto;
    margin-right: 10px;
}

.right { 
    float: right; 
    width: auto;
    margin-left: 10px;
}

.center { 
    display: block;
    text-align: center;
    margin: 20px auto;
}

ul { 
    margin: 2px 0 22px 17px;
}

ul li { 
    list-style-type: circle;
    margin: 0 0 6px 0; 
    padding: 0 0 4px 5px;
}

ul li.dog_element {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#main, #logo, #menubar, #site_content, #footer { 
    margin-left: auto; 
    margin-right: auto;
}

#main { 
    padding-bottom: 20px;
}

#header { 
    background: transparent;
    height: 170px;
}

#logo { 
    width: 860px;
    position: relative;
    height: 134px;
}

#logo h1, #logo h2 { 
    font-family: 'Nanum Pen Script', cursive;
}

#logo h1 {
    padding: 24px 0 0 0;
    margin: 0;
    color: #FFF;
}

#logo h2 { 
    font-size: 150%;
    padding: 4px 0 0 0;
    color: #E3D8F1;
}

#logo h1, #logo h1 a, #logo h1 a:hover { 
    padding: 22px 0 0 0;
    color: #FFF;
    text-decoration: none;
    font-size: 250%;
}

#logo h1 a .logo_colour { 
    color: #DABECA;
}

#logo a:hover .logo_colour { 
    color: #FFF;
}

#menubar { 
    height: 24px;
    width: 900px;
} 

ul#menu { 
    float: right;
    margin: 0;
    padding: 0;
}

ul#menu li { 
    float: left;
    padding: 0;
    list-style: none;
    margin: 5px 2px 0 0;
}

ul#menu li a { 
    font-family: 'Pontano Sans', sans-serif;
    display: block; 
    float: left; 
    height: 20px;
    padding: 6px 20px 5px 20px;
    text-align: center;
    color: #000;
    text-decoration: none;
    background: #E0E0E0;
} 

ul#menu li.selected a, ul#menu li.selected a:hover { 
    background: #FFF;
    color: #AD8A64;
}

ul#menu li a:hover { 
    color: #AD8A64;
}

#site_content { 
    width: 858px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 10px 20px 20px 20px;
    background: #FFF url(back.png) repeat-y;
    border: 15px solid rgba(173, 138, 100, 0.295);
} 

.sidebar { 
    float: right;
    width: 190px;
    padding: 0 15px 20px 15px;
}

.sidebar ul {
    width: 178px; 
    padding: 4px 0 0 0; 
    margin: 4px 0 30px 0;
}

.sidebar li { 
    list-style: none; 
    padding: 0 0 7px 0; 
}

.sidebar li a, .sidebar li a:hover { 
    padding: 0 0 0 25px;
    display: block;
    background: transparent url(link.png) no-repeat left center;
} 

.sidebar li a.selected { 
    color: #444;
    text-decoration: none;
} 

#content { 
    text-align: left;
    width: 613px;
    padding: 0;
}

#footer { 
    width: 916px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 90%;
    height: 28px;
    padding: 20px 0 5px 0;
    text-align: center; 
    background: transparent;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer a, #footer a:hover { 
    color: #111;
    text-decoration: underline;
}

#footer a:hover { 
    text-decoration: none;
}

#footer p { 
    line-height: 22px;
    padding: 0;
}
  
table { 
    margin: 10px 0 30px 0;
    font-family: 'Pontano Sans', sans-serif;
}

table tr th, table tr td { 
    background: #5D5F71;
    color: #FFF;
    padding: 7px 4px;
    text-align: center;
}
  
table tr td { 
    background: rgba(173, 138, 100, 0.295);
    color: #47433F;
    border-top: 1px solid #FFF;
}
